---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="leading-8 text-xl flex flex-col gap-10 lg:pt-10">
    <article>
      <h3 class="font-presStart2 mb-4">Un Poco sobre mi experiencia</h3>
      <p>
        Soy un desarrollador con experiencia trabajando tanto en el lado del
        cliente como del servidor, enfocado en construir aplicaciones web
        atractivas y fáciles de usar. He trabajado con React para crear
        soluciones complejas y escalables. <br />
        Tengo experiencia en React he trabajado en diversos proyectos utilizando
        React, creando componentes y aplicando estilos para lograr una experiencia
        de usuario atractiva. <br /> Poseo una buena comprensión de JavaScript, incluyendo
        conceptos avanzados como funciones, promesas y manipulación de datos. <br
        />y experiencia con Node.js lo he utilizado para construir aplicaciones
        en tiempo real y servicios back-end.
      </p>
    </article>
    <article>
      <h3 class="font-presStart2 mb-4">Habilidades Tecnicas</h3>
      <ul class="list-disc ml-5">
        <li>
          HTML y CSS: experiencia en el diseño e implementación de interfaces
          fáciles de usar utilizando HTML y CSS, incluido Tailwind CSS.
        </li>
        <li>
          React: Familiarizado con la creación de interfaces de usuario
          dinámicas utilizando componentes, hooks y Redux.
        </li>
        <li>
          Redux: Familiarizado con los principios de gestión de estado en React
          usando Redux.
        </li>
        <li>
          Node.JS: Experto en el desarrollo de aplicaciones del lado del
          servidor utilizando Node.JS y el framework Express.JS.
        </li>
        <li>
          Express: familiarizado con la creación de API utilizando el framework
          Express.
        </li>
        <li>
          MongoDB: comprensión del diseño y las operaciones de la base de datos
          MongoDB, incluidas las operaciones CRUD y el diseño del esquema de la
          base de datos.
        </li>
      </ul>
    </article>
  </section>
</Layout>
