---
import Layout from "../layouts/Layout.astro";
import oldPorfolio from "../images/imagesProyects/oldPortfolio.jpg";
import shine from "../images/imagesProyects/shine.jpg";
import ticTacToe from "../images/imagesProyects/tic-tac-toe.png";
import RemoveBG from "../images/imagesProyects/Remove-BG.png";
import Books from "../images/imagesProyects/Books.png";

interface Project {
  name: string;
  photo: string;
  link: string;
  description: string;
}

const Proyects = [
  {
    name: "Remove-BG-With-Cloudinary",
    photo: RemoveBG,
    link: "https://remove-background-with-cloudinary.vercel.app/",
    description:
      "Remueve el fondo de una imagen mediante inteligencia artificial esto es gracias a la api de Cloudinary.",
  },
  {
    name: "List-Of-Books",
    photo: Books,
    link: "https://books-react-ts.vercel.app/",
    description:
      "Una pequeña aplicación web de lista de libros que usa React, TypeScript y Tailwind. Lo interesante de esta aplicación es la sincronización de pestañas usando el LocalStorage que permite tener la aplicación abierta en varias pestañas y ver los cambios en todas ellas sin la necesidad de refrescar la página; como es el de añadir un libro a la lista de libros y este cambio verse reflejado en todas las pestañas sin la necesidad de refrescar la página..",
  },
  {
    name: "E-Comerce-Shine",
    photo: shine,
    link: "https://e-commerce-clothing-three.vercel.app/",
    description:
      "Shine es un E-Comerce de ropa que permite a los usuarios comprar productos a traves de internet. Fue construido en conjunto con 6 desarrolladores que utilizamos un conjunto de tecnologías específicas para implementar la plataforma. En particular, se utilizaron React, Redux, CSS, Express y MongoDB. Puedes ver la tienda dando click en la imagen.",
  },
  {
    name: "Game Tic-Tac-Toe",
    photo: ticTacToe,
    link: "https://tic-tac-toe-three-liard.vercel.app/",
    description: "El tipico juego de Tic Tac Toe.",
  },
  {
    name: "Old-Portfolio",
    photo: oldPorfolio,
    link: "https://port-folio-drab.vercel.app/",
    description:
      "Antiguo portfolio construido con React puedes verlo dando click en la imagen.",
  },
];
---

<Layout title="Proyects">
  <section class="lg:pt-10 bg-red-50 p-4">
    <h3 class="font-presStart2">Mi Experiencia a traves de Proyectos</h3>
    <div class="proyect">
      {
        Proyects.map((proyect) => (
          <div class="text-gray-800 text-xl text-center card">
            <h4 class="font-presStart2">{proyect.name}</h4>
            <a href={proyect.link}>
              <img class="my-5" src={proyect.photo} />
            </a>
            <p class="text-start">{proyect.description}</p>
          </div>
        ))
      }
    </div>
  </section>
  <style>
    .proyect {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
      gap: 1rem;
    }

    .card {
      border: 1px solid rgba(225, 225, 225, 0.4);
      border-right: 1px solid rgba(225, 225, 225, 0.2);
      border-bottom: 1px solid rgba(225, 225, 225, 0.2);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      backdrop-filter: blur(2px);
      padding: 1em;
      background: rgb(255 255 255 / 20%);
    }
  </style>
</Layout>
