---
import Carrousel from "./Carrousel/Carrousel";
---

<section class="h-full flex items-center justify-center">
  <div class="flex flex-wrap justify-around items-end w-full gap-10">
    <!-- <img class="w-96" src="../public/images/DALL-E Astronaut.png" alt="lenyn" /> -->
    <div class="w-72">
      <Carrousel client:load/>
    </div>
    <div class="border-b-8 border-black">
      <h1
        class="font-presStart2 text-center text-3xl leading-snug lg:leading-snug lg:text-5xl lg:animate-bounce"
      >
        Hello <br />I'm Lenyn Bejar<br /> Full-Stack <br />Developer
      </h1>
    </div>
  </div>
</section>
