---
import DalleAstrounatAwesome from "../images/imagesProfile/astronautRMBGProfile.png";
---

<section
  class="h-full grid grid-cols-1 sm:grid-cols-2 place-items-end justify-between gap-4 pb-24"
>
  <div class="max-w-full">
    <img src={DalleAstrounatAwesome} alt="astronaut Awesome" />
  </div>
  <div class="border-b-8 border-black max-w-full">
    <h1
      class="font-presStart2 animate-bounce text-center text-3xl leading-snug lg:leading-snug lg:text-5xl"
    >
      Hello I'm Lenyn Bejar Full-Stack Developer
    </h1>
  </div>
</section>
