---
import DalleAstrounatAwesome from "../images/imagesProfile/astronautRMBGProfile.png"
---

<section
  class="h-full max-w-full grid grid-cols-1 sm:grid-cols-2 place-items-center justify-around m-auto gap-4"
>
  <div class="max-w-lg">
    <img src={DalleAstrounatAwesome} alt="astronaut Awesome" />
  </div>
  <div class="border-b-8 border-black max-w-full">
    <h1
      class="font-presStart2 text-center text-3xl leading-snug lg:leading-snug lg:text-4xl"
    >
      Hello <br> I'm Lenyn Bejar Full-Stack Developer
    </h1>
  </div>
</section>
