---
import SmokeOfLanguages from "./smokeOfLanguages.astro";
import GlitchTitle from "./glitchTitle.astro";
---

<section
  class="h-full max-w-full grid grid-cols-1 sm:grid-cols-2 place-items-center justify-around m-auto"
>
  <GlitchTitle />
  <SmokeOfLanguages />
</section>

<!-- <style>
  section {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2V2dHRxaWp6OTk1enVscm5lZXVnNHk3OXR0Y3F4ZTdmdjd1cXVtYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RLj6dWiZoK2izOGVzs/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(8px); */
    background-size: contain;
  }
</style> -->
