<div class="CV">
  <a
    href="https://docs.google.com/document/d/1olUYK_YB5-PXFbdfnoSgdGVt8MC45ZKWv60Pn_S98cw/edit?usp=sharing"
    target="_blank">Descargar mi CV</a
  >
</div>

<style>
  .CV {
    /* background: linear-gradient(-45deg, #84dcc6, #ff686b, #a5ffd6, #ffa69e); */
    background: linear-gradient(
      -45deg,
      #000000,
      #00c2ff,
      #33ff8c,
      #ffc640,
      #e54cff
    );
    background-size: 400%;
    text-align: center;
    background-clip: text;
    animation: animate1 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes animate1 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
