<p class="font-presStart2">
  The Best
  <span
    data-text="Web Developer"
    id="glitch-text"
    class="glitch-animation font-presStart2 tracking-wide">Web Developer</span
  >
  <h3 class="lg:hidden text-3xl italic font-bold pt-4">
    The amazing thing about being a developer is that you can create anything
    you can imagine!
  </h3>
</p>
<style>
  :root {
    --f-size: 5;
    --f-unit: 1vmin;
    --f: calc(var(--f-size) * var(--f-unit));
    --bg: #181717;
    --pos1: 0;
    --pos2: 0;
  }

  h3,
  p,
  span {
    font-size: var(--f);
    /* color: rgb(0, 255, 89); */
    text-align: center;
    line-height: 1.1;
    margin: auto;
  }
  .glitch-animation {
    overflow: hidden;
    flex: 1;
    line-height: 0.75;
    font-size: var(--f);
    text-align: center;
    /* transform: scaleX(var(--scale, 1)); */
    transform: translate(calc(var(--pos1) * 100%), calc(var(--pos2) * 100%))
      scaleX(var(--scale, 1));
    /* color: #ff309b; */
    color: rgb(45 212 191 / 1);
    animation: glitch-p 10s infinite alternate steps(1, end);
    margin: auto;
  }

  .glitch-animation::after,
  .glitch-animation::before {
    --top: 0;
    --left: 0;
    --v-height: 30%;

    --n-tenth: calc(var(--f-size) * 0.1 * var(--top));
    --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
    --b-cut: calc(var(--t-cut) + var(--v-height));
    content: attr(data-text);
    position: absolute;
    box-sizing: border-box;
    left: 0;
    text-align: center;
    width: 100%;

    transform: translate(calc(var(--left) * 100%), calc(var(--botton) * 100%));

    filter: drop-shadow(0 0 transparent);

    text-shadow:
      calc(var(--left) * -3em) 0 0.02em lime,
      calc(var(--left) * -6em) 0 0.02em #ff0606;
    clip-path: polygon(
      0% var(--t-cut),
      100% var(--t-cut),
      100% var(--b-cut),
      0% var(--b-cut)
    );
  }

  .glitch-animation::before {
    animation: glitch-b 1.7s infinite alternate-reverse;
  }

  .glitch-animation::after {
    animation: glitch-a 3.1s infinite alternate;
  }

  @keyframes glitch-p {
    0% {
      --scale: 0.87;
      --pos1: 0.1;
      --pos2: 0.1;
    }
    31% {
      --scale: 1.1;
      --pos1: -0.1;
      --pos2: -0.1;
    }
    32% {
      --scale: 1;
      --pos1: 0.1;
      --pos2: 0.2;
    }
  }

  @keyframes glitch-a {
    10%,
    30%,
    50%,
    70%,
    90% {
      --top: 0;
      --left: 0;
    }
    0% {
      --v-height: 15%;
    }
    20% {
      --left: 20;
    }
    40% {
      --left: 10;
      --v-height: 20%;
      --top: 30;
    }
    60% {
      --left: 30;
      --v-height: 25%;
      --top: 60;
    }
    80% {
      --left: 7;
      --v-height: 5%;
      --top: 80;
    }
    100% {
      --left: 0.083;
      --v-height: 30%;
      --top: 1;
    }
  }

  @keyframes glitch-b {
    10%,
    30%,
    50%,
    70%,
    90% {
      --top: 0;
      --left: 0;
    }
    0% {
      --v-height: 15%;
      --top: 10;
    }
    20% {
      --left: -0.005;
    }
    40% {
      --left: -0.01;
      --v-height: 17%;
      --top: 3;
    }
    60% {
      --left: -0.03;
      --v-height: 35%;
      --top: 6;
    }
    80% {
      --left: -0.07;
      --v-height: 5%;
      --top: 8;
    }
    100% {
      --left: -0.083;
      --v-height: 30%;
      --top: 1;
    }
  }
</style>

<script>
  function restartAnimation(): void {
    const glitchText = document.getElementById("glitch-text");
    const hasClass = glitchText?.classList.contains("glitch-animation");
    if (glitchText && hasClass) {
      glitchText.classList.remove("glitch-animation");
      glitchText.textContent = "Web Developer";
      void glitchText.offsetWidth;
    } else if (glitchText) {
      glitchText.classList.add("glitch-animation");
      glitchText.textContent = "Front-End and Back-End";
    }
  }

  setInterval(restartAnimation, 5000);

  restartAnimation();
</script>
