---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";

import CurriculumVitae from "./curriculum-vitae.astro";
---

<header class="lg:flex py-10 px-4 gap-50 items-center">
  <Astronav>
    <div class="flex w-full justify-between">
      <a class="title font-presStart2 text-2xl" href="/">Lenyn.Dev</a>
      <div class="block lg:hidden">
        <MenuIcon class="w-5 h-5 text-gray-800 transition-transform" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col lg:flex-row lg:gap-5 font-presStart2 border-4 p-1 mt-2 border-neutral-900 lg:border-none lg:mt-0"
      >
        <li><CurriculumVitae /></li>
        <li class="hover:-translate-y-1"><a href="Contact">Contact</a></li>
        <li class="hover:-translate-y-1"><a href="Proyects">Proyects</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>

<style>
  .title {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 2s steps(10), blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
