---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import "../styles/Layout.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="DALLEAstronaut.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Press+Start+2P&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    id="allPage"
    class="rutas max-w-screen-lg mx-auto px-5 text-white rounded-l-3xl border-teal-950 border-b-8 border-l-4"
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  .rutas {
    --tw-skew-x: 5deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
</style>

<script>
  const currentPath = window.location.pathname;
  const elemento = document.getElementById("allPage");
  if (currentPath === "/Proyects") {
    elemento?.classList.remove("rutas");
  }
</script>
